<div class="col-lg-3 col-md-6">
  <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Contact</h4>
  <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i><%= restaurant.restaurantName + ", " + restaurant.restaurantLocation %></p>
  <p class="mb-2"><i class="fa fa-phone-alt me-3"></i><%= restaurant.restaurantPhoneNumber %></p>
  <p class="mb-2"><i class="fa fa-envelope me-3"></i><%= restaurant.restaurantEmail %></p>
  <div class="d-flex pt-2">
      <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
      <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
      <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
      <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
  </div>
</div>